local home videos

1. Enter the local path to your home videos as a single line in this file
2. Ensure everything else is deleted from this file
3. Save file as local_sorted_media_path.secret
4. Change the permissions of the file to 600 (chmod 600)
