# Ignore password files
**/secrets/*.pwd
**/secrets/*.vault

# Ignore the github token
github-token.txt

# backup folder
backup/*
!backup/.gitkeep

# Ignore Austor Recycle Bin
\#Recycle/*


# jellyfin host specific
docker/jellyfin/data/host/cache/*
docker/jellyfin/data/host/config/*
!docker/jellyfin/data/host/cache/.gitkeep
!docker/jellyfin/data/host/config/.gitkeep

# portainer host specific
docker/portainer/data/host/*
!docker/portainer/data/host/.gitkeep
