# Ignore password files
**/secrets/*.pwd
**/secrets/*.vault

# Ignore the github token
github-token.txt

# backup folder
backup/*
!backup/.gitkeep

# Ignore Austor Recycle Bin
\#Recycle/*


# gitlab host specific
docker/gitlab/data/host/config/*
docker/gitlab/data/host/data/*
docker/gitlab/data/host/logs/*
!docker/gitlab/data/host/config/.gitkeep
!docker/gitlab/data/host/data/.gitkeep
!docker/gitlab/data/host/logs/.gitkeep

# jellyfin host specific
docker/jellyfin/data/host/cache/*
docker/jellyfin/data/host/config/*
!docker/jellyfin/data/host/cache/.gitkeep
!docker/jellyfin/data/host/config/.gitkeep

# portainer host specific
docker/portainer/data/host/*
!docker/portainer/data/host/.gitkeep
