gmail account username file

1. Enter your gmail username raw as a single line in this file
2. Ensure everything else is deleted from this file
3. Save file as gmail_user.secret
4. Change the permissions of the file to 600 (chmod 600)
