1. Enter your gmail password raw in the first line
2. Rename file from gmail.pwd.template to gmail.pwd
3. Make sure all of these instructions are deleted
4. Make sure the .pwd file has permissions 600 (chmod 600)
